.theme-dark {
  --color-bg: #181818;              
  --color-text-primary: #FFFFFF;    
  --color-text-secondary: #CCCCCC;  
  --color-text-tertiary: #AAAAAA;   
}

.theme-light {
  --color-bg: #FFFFFF;              
  --color-text-primary: #000000;    
  --color-text-secondary: #333333;  
  --color-text-tertiary: #555555;   
}

